.slideme{
    height: 420px;
    width: 360px;
    background-color: snow;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card-container{
    background-color: gainsboro;
    display: flex;
    justify-content: center;
}

.movie-image{
    height: 160px;
    width: 360px;
    object-fit: cover;
}

.movie-info{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px 0px;
    padding: 5px 0px;
}

.movie-title{
    font-weight: bold;
    font-size: 24px;
    margin: 5px 20px;
}

.movie-subtitle{
    color: gray;
    font-size: 18px;
    margin: 10px 20px;
}

.movie-description{
    font-weight: lighter;
    font-size: 16px;
    margin: 10px 20px;
}

.rating-comp{
    margin-left: 20px;
    position: absolute;
    bottom: 0;
}

.rate-box{
    display: flex;
}

.rating-num{
    background-color: rgb(0, 132, 255);
    border-radius: 10px;
    font-size: 12px;
    padding: 2px 7px;
    color: whitesmoke;
    margin-right: 20px;
    font-weight: bold;
    margin-bottom: 60px;
    margin-left: 220px;
}